/*.container {
    max-width: 85%;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backBtn a{
    position: fixed;
    top:5%;
    left: 0;
    padding: 8px;
    border-radius: 0px 10px 10px 0px;
    background: grey;
    font-weight: bold;
}

.container{
    /*height: 100vh;*/
}



/*.scrollSnap {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}*/
.container section:nth-child(odd){
    background-color: darkorange;
}
.scrollSnap section{
    /*min-height: 100vh;*/
    /*TODO : Custom scroll bar*/

    /*scroll-snap-align: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;*/
}


.scrollSnap section::-webkit-scrollbar {
    /*display: none;*/
}
